@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: hsl(200, 50%, 50%);

  --color-white: #fff;
  --color-black: hsl(200, 20%, 15%);

  --color-grey-light: hsl(200, 30%, 80%);
  --color-grey-lighter: hsl(200, 30%, 95%);
  --color-grey-dark: hsl(200, 20%, 25%);
  --color-grey-darker: hsl(200, 20%, 20%);
  --color-grey: hsl(200, 10%, 35%);

  --space-sm: 0.25rem;
  --space-med: 0.5rem;
  --space-lg: 1rem;
  --space-xl: 2rem;
  --space-xxl: 4rem;

  --rounded-sm: 0.25rem;
  --rounded-lg: 0.5rem;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--color-black);
}

.container {
  border: 1px solid var(--color-grey);
  width: max-content;
  border-radius: var(--rounded-lg);
  margin: var(--space-lg) auto;
  background-color: var(--color-grey-darker);
}

.header-1 {
  font-size: 2rem;
  font-weight: 900;
  color: var(--color-white);
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: var(--rounded-sm);

  color: var(--color-grey-lighter);
  font-size: 2rem;
  cursor: pointer;

  transition: background-color 300ms, box-shadow 200ms;
}

.icon-button:hover {
  background-color: var(--color-grey);
}

.icon-button:active,
.icon-button--selected,
.icon-button--selected:hover {
  box-shadow: 0 0 0 2px var(--color-primary);
  background-color: var(--color-grey);
}

.icon-button:disabled,
.icon-button:disabled:hover,
.icon-button:disabled:active {
  background-color: var(--color-grey-darker);
  color: var(--color-grey);
  box-shadow: none;
  cursor: not-allowed;
}

.dropdown-container {
  position: relative;
}

.dropdown {
  position: absolute;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 300ms;
}

.canvas {
}

.canvas--pencil {
  cursor: url('./assets/cursors/Pencil.cur'), auto;
}

.canvas--eraser {
  cursor: url('./assets/cursors/Eraser.cur'), auto;
}
